fastapi>=0.115.0
uvicorn>=0.32.0
python-multipart
langchain>=0.3.0
langchain-community>=0.3.0
langchain-openai>=0.2.0
langchain-ollama>=0.2.0

langchain-chroma
chromadb>=0.6.0
pydantic>=2.9.0
pydantic-settings
pypdf
minio
httpx
langsmith
pymysql
mysql-connector-python
sqlalchemy
